h1{
        color:coral;
    }

    #p1{
        text-align: justify;
        text-indent: 20pt;
        color :black;
    }

    .p1{
        text-align: justify;
        text-indent: 9pt;
        color :black;
    }

    .p2{
        text-align: justify;
        text-indent: 2pt;
        color: darkgoldenrod;
    }

    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}